Exercise 1: Make an empty list and call it names

In [1]:
names=[]

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [2]:
names=["Hannah", "Victor", "Sam", "James","Sarah"]

In [3]:
names

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [11]:
names.sort(reverse=True)
print(names)

['victor', 'Victor', 'Sarah', 'Sam', 'James', 'Hannah']

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [8]:
sorted(names)

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']

Exercise 5: Pull out the fourth item from names and print it out

In [14]:
names.remove("Victor")
print(names)

['Sarah', 'Sam', 'James', 'Hannah', 'victor']

Exercise 6: Pull out the first item from names and print it out

In [15]:
names.remove("Hannah")
print(names)

['Sarah', 'Sam', 'James', 'victor']

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [18]:
fruits="Apples, Oranges, Banannas, Pineapples, Persimmons, Dragonfruit"
print(fruits)
fruits=["Apples","Oranges","Banannas","Pineapples","Persimmons","Dragonfruit"]
print(fruits)

Apples, Oranges, Banannas, Pineapples, Persimmons, Dragonfruit
['Apples', 'Oranges', 'Banannas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [20]:
square_numbers=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print(square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [23]:
print(1*1)
print(1*2)
print(1*3)
print(1*4)
print(1*5)
print(1*6)
print(1*7)
print(1*8)
print(1*9)
print(1*10)

1
2
3
4
5
6
7
8
9
10

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [24]:
test_score=input("enter the test score ")
test_score=int(test_score)
test_score/100

enter the test score80

0.8

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [54]:
movie_list=["Finding Nemo", "Finding Dory","Toy Story"]
add_movie_to_list=input("what is your fave movie")
print(f"{add_movie_to_list, movie_list}" )
delete_movie_from_list=input("what movie do you want to delete")
if delete_movie_from_list !=movie_list or movie_list:
    print("ayo dumbass pick a movie on the list ")
if delete_movie_from_list==add_movie_to_list or movie_list:
    (movie_list.remove(delete_movie_from_list))
choice="y"
choice=input("do you want to continue(hint say y)")
if choice=="n":
    print("goodbye")
    break

what is your fave movie Home Alone
(' Home Alone', ['Finding Nemo', 'Finding Dory', 'Toy Story'])
what movie do you want to deleteFinding Nemo
ayo dumbass pick a movie on the list
do you want to continue(hint say y)n

SyntaxError: 'break' outside loop (<ipython-input-54-86d38001355f>, line 13)